@tailwind base;

body {
  font-family: "Open Sans", sans-serif;
}

#header {
  max-height: 80px;
  transition: all 0.2s;
}

.fixed-nav #header {
  max-height: 50px;
}

#logo {
  max-height: 4rem;
  transition: all 0.5s;
}

.fixed-nav #logo {
  max-height: 3rem;
}

#contact {
  max-height: 4rem;
  transition: all 0.5s;
}

.fixed-nav #contact {
  max-height: 3rem;
}

#contact * {
  font-size: 1rem;
  transition: all 0.5s;
}

.fixed-nav #contact * {
  font-size: 0.8rem;
}

@tailwind components;
@tailwind utilities;

.triangle {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #edf2f7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
}
