@tailwind base;

body {
  font-family: "Open Sans", sans-serif;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

@tailwind components;
@tailwind utilities;

.triangle {
  /* width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 32px 0 32px 32px;
  border-color: transparent transparent transparent #149dae;
  position: absolute;
  left: 100%;
  top: 50%; */

  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #fed7d7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
}
